.custom-table-container {
    margin: 0 auto;
    width: 80%; /* Tablo genişliğini belirli bir yüzde olarak ayarlayın */
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
  .custom-table thead th {
    background-color: white;
    color: black;
    border-bottom: 2px solid black; /* Başlıkların altında siyah bir çizgi */
    padding-bottom: 10px;
  }
  
  .custom-table tbody tr {
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .custom-table tbody td {
    padding: 10px;
    border-top: none;
    border-bottom: none;
  }
  
  .custom-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  